body,html {
  margin: 0;
  padding: 0; 
}
html {
	background:url(http://i.stack.imgur.com/vhoa0.jpg) bottom center;
	background-size: cover;
	text-align: center;
	 font-size: 10px;
	
	}
	body {

	}
	
	h1 {
		font-size: 4rem;
		color: yellow;
		text-shadow:0 0 10px yellow;
		background:rgba(0,0,0,0.4);
	}
	.clock {
		width: 30rem;
		height: 30rem;
		border : 30px solid white;
		border-radius: 50%;
		margin: 0 auto;
		position: relative;
	}
	.arrow {
		width: 50%;
		background-color: black;
		height: 5px;
		position: absolute;
		top: 50%;
		transform-origin: 100%;
		transform: rotate(90deg);
		transition: all 0.05s;
		transition-timing-function: cubic-bezier(0.42, 0, 0, 2.45);
	}
	
